[Unit]
Description=racinglines FastF1 session recorder every 5 minutes

[Timer]
OnActiveSec=20s
OnBootSec=2min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
